@media (min-width: 767px) {
  header {
    display: none;
  }
  .list {
    width: 30%;
  }
  nav {
    padding: 30px 20px;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .card {
    width: 20%;
    margin: 30px;
  }
  .container .card img {
    height: 300px;
  }
  .toTop {
    width: 150px;
    z-index: 5;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #c0aeaeee;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(126, 123, 123);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(182, 19, 19);
  }
}
